/*Задание №1*/
.work1 { text-align: center; }
.work1>div {
    display: inline-block;
    margin: 5px;;
    width: 300px;
    height: 20px;
    border: 3px solid #000000 ;
}
.work1>.red { background: linear-gradient(to left,white 75%,red 25%); }
.work1>.yellow { background: linear-gradient(to left,white 50%,yellow 50%); }
.work1>.green { background: green }


/*Задание №2*/
.work2 { text-align: center;}
.work2>button {
    margin: 3px;
    padding: 5px;
    border: 1px outset #000000;
    border-radius: 3px;
}
.work2>#n1{
    background: linear-gradient(to top, white 5%, turquoise 90%);
}
.work2>#n2{
    background: linear-gradient(#164916 , #139c13 , #164916);
}
.work2>#n3{
    background: linear-gradient(white, turquoise); color: whitesmoke;
}
.work2>#n4{
    background: linear-gradient(white, black 90%); color: whitesmoke;
}
.work2>#n5{
    border: 1px inset #00000063;
    background: linear-gradient(#c7c7c7, whitesmoke, #c7c7c7);
}

/*Задание №3*/
.work3 {
    height: 100vh;
    overflow: hidden;
    margin: 5%;
    background: repeating-linear-gradient(45deg, #3d1313 1px, #252a4d 50px) no-repeat;
    background-attachment:fixed;
}
.work3>div {
    color: white;
    padding: 40px;
    height: calc(100vh - 30%);
    width: calc(1920px - 15%);
    display: inline-block;
    background: #ffffff2a;
    text-indent: 20px;
}
.work3>div>img{
    height: 300px;
    width: 300px;
    margin: 20px;
    float: right;
}
.work3>div>h1,h3{
    color: rgb(7, 7, 97);
    padding-left: 10px;
}


/*Задание №4*/
.work4 {
    text-align: center;
    --rud: 5%;
}

.work4>.main{
    border: 2px solid #000000;
    background-color: aqua;
    display: inline-block;
    height: 500px;
    width: 500px;
    border-radius: var(--rud);
}
.main>#d1, #d2, #d3, #d4 {
    border: 2px solid #000000;
    display: inline-block;
    margin: 20px;
}
.main>#d1{
    background-color: red;
    border-top-left-radius: var(--rud);
    height: 45%;
    width: 40%;
    float: left;
}
.main>#d2{
    background-color: green;
    border-top-right-radius: var(--rud);
    height: 25%;
    width: 40%;
    float: right;
}
.main>#d3{
    background-color: blue;
    border-bottom-right-radius: var(--rud);
    height: 55%;
    width: 40%;
    float: right;
}
.main>#d4{
    background-color: yellow;
    border-bottom-left-radius: var(--rud);
    height: 35%;
    width: 40%;
    float: left;
}


/*Задание №5*/
.work5{
    text-align: center;
}
.work5>.main {
    display: inline-block;
    background-color: #000000;
    height: 400px;
    width: 400px;
}
.white{
    background-color: #ffffff;
    margin-top: 10%;
    margin-right: 5px;
    height: 80%;
    width: 80%;
    float: right;
}
.black{    
    background-color: #000000;
    margin-left: 5px;
    margin-top: 10%;
    height: 80%;
    width: 80%;
}
